body {
    font-family: arial, sans-serif;
}

#google {
    margin: auto;
    margin-top: 25px;
    display: flex;
    padding-top: 109px;
}

.material-icons {
}

.wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
}

#search-icon {
    position: absolute;
    top: 42px;
    left: 270px;
    width: 14px;
}

#keyboard-voice {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
}

.search {
    border: 1px solid rgb(219, 208, 208);
    border-radius: 24px;
    height: 44px;
    margin: auto;
    margin-top: 30px;
    width: 482px;
    padding: 2px 23px 2px 30px;
    outline: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 0;
    font-size: 13px;
}
li {
    float: left;
}

li a {
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: #000;
}
#app {
    color: rgba(0,0,0,0.50);
}
#app:hover {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.float-right {
    float: right;
}
.right-icons {
    
}

.sign-in {
    border: 1px solid #4285f4;
    font-weight: bold;
    color: white;
    background-color: #4285f4;
    border-radius: 2px;
}